{% extends 'base.html' %}
{% block content %}
<h1 style="color: #00aaff;">About Me</h1>
<p>
My name is Daniel Owolabi. I am a student who is passionate about technology, programming, Software development
,and full-stack development.  
I enjoy learning how things work and building projects that challenge my creativity.
</p>

<p>I also aspire to learn more skills like AI/ML,Cyber-Secuirity,Cloud-computing,Dev-Ops etc.</p>

<p>And I gained practical, career-focused skills at Aptech Computer Education Osogbo,where my interest in the software field was solidified.</p>

<p>
Right now, I'm focused on improving my skills in:
<ul>
    <li>Python programming</li>
    <li>Web development (HTML, CSS, JavaScript, Flask)</li>
    <li>Windows Powershell Scripting</li>
    <li>Basic command-line usage</li>
</ul>
</p>

<p>
My goal is to become a skilled software engineer and to build the next big thing.
</p>

{% endblock %}
